.modal-container {
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    height: 500px;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    padding: 10px 0;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.one-notification {
    display: flex;
    width: 90%;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
}

.one-notification .notification-info {
    display: flex;
    gap: 15px;
}

.one-notification .notification-info h3 {
    display: flex;
    align-items: center;
}

.one-notification .notification-info img {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
    object-fit: cover;
    object-position: center;
}

.notification-btns {
    display: flex;
    gap: 15px;
    align-items: center;
}

.notification-btns .fa-check {
    font-size: 20px;
}

.notification-btns i:hover {
    cursor: pointer;
}

.no-notification {
    display: flex;
    width: 90%;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
}