.chats-container{
    width: 100vw;
    min-height: 100vh;
    padding: 0% 5%;
    background: rgb(243, 230, 255);
    display: flex;
    justify-content: center;
}

.chats{
    width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border: 1px solid gray;
    background-color: #fff;
}

.chats .person{
  display: flex;
  align-items: center;
  gap: 5px;
}

.chats .person h3{
  text-align: center;
}

.chats .person img{
  height: 48px;
  width: 48px;
}

.chats-container .chats .search-bar{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    padding: 0 0 0 10px;
    gap: 5px;
    background-color: #fff;
}

.chats-container .chats .search-bar input{
    border: none;
    outline: none;
    height: 40px;
    padding: 0 5px;
    border-radius: 10px;
    background-color: transparent;
}

.chats-bars{
    overflow-y: auto;
    padding-right: 8px;
}

.social-chat {
    display: flex;
    width: 100%;
    min-height: 80px;
    align-items: center;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
  }
  
  .social-chat:hover{
    cursor: pointer;
    background-color: #eef;
  }

  .chat-photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .chat-content {
    flex: 1;
    overflow: hidden;
  }
  
  .chat-name {
    font-size: 16px;
    font-weight: bold;
  }

  .selected-chat{
    background-color: #eef;
  }

  .displayed-chat{
    width: 900px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    background-color: #fff;
  }

  .chat-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    height: 10%;
  }

  .chat-header .chat-header-info{
    display: flex;
    align-items: center;
  }

  .chat-header i{
    font-size: 20px;
    cursor: pointer;
  }

  .chat-messages{
    height: 80%;
    background-color: #eef;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .message1, .message2{
    width: 45%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
    box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.6);
  }

  .message1>h4, .message2>h4{
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
  }

  .message1-date, .message2-date{
    font-size: 11.5px;
    color: gray;
  }

  .message1,.message1-date{
    align-self: flex-start;
  }

  .message2,.message2-date{
    align-self: flex-end;
  }

  .send-message{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    border-top: 1px solid gray;
  }

  .send-message .message-bar{
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 5px;
    width: 90%;
    height: 40px;
  }

  .message-bar input{
    outline: none;
    border: none;
    padding: 0 3px;
    width: 90%;
    height: 100%;
    background-color: transparent;
  }

  .message-bar i{
    cursor: pointer;
  }

  .no-conversation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .delete-friend{
    background-color: rgb(255, 82, 82);
    color: #efefef;
    height: 25px;
    width: 103px;
    border: none;
    border-radius: 10px;
    padding: 0 3px;
    transition: .4s;
  }

  .delete-friend:hover{
    background-color: rgb(180, 80, 80);
    cursor: pointer;
  }

  .toast{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .toast-btns{
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .toast-btns .yes-btn{
    background-color: rgb(255, 82, 82);
    color: #efefef;
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 3px;
    cursor: pointer;
  }

  .toast-btns .no-btn{
    background-color: rgb(82, 99, 255);
    color: #efefef;
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 3px;
    cursor: pointer;
  }

  @media (max-width: 767px){
    .chats-container{
      overflow-x: auto;
      padding: 0;
    }

    .chats{
      min-width: 200px;
    }

    .displayed-chat	{
      min-width: 440px;
    }

    .chatsPage-container{
      height: 100%;
      margin: 0; 
      padding: 0;
      overflow-y: hidden;
    }
  }

  @media (max-width:639px){
    .chats-container{
      overflow-x: auto;
      width: 640px;
      padding: 0;
    }
  }