.register-main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3) url('https://www.toptal.com/designers/subtlepatterns/uploads/leaves.png');
    background-blend-mode: darken;
    background-position: center;
}

.register-form{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px;
    gap: 20px;
    border: 1px solid gray;
    box-shadow: 0px 1px 5px gray;
    background-color: white;
    border-radius: 10px;
}

.register-form .register-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-form .register-title h3 {
    color: rgb(192, 192, 192);
    font-size: 14px;
    font-weight: 500;
}

.register-form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.register-form fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.register-form fieldset input{
    height: 35px;
    padding: 0px 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(134, 82, 255);
}

.register-btn{
    background-color: rgb(134, 82, 255);
    color: #efefef;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: .4s;
}

.register-btn:hover{
    cursor: pointer;
    background-color: rgb(80, 82, 180);
}

.register-form p{
    font-size: 14px;
    text-align: center;
}

.link{
    text-decoration: none;
    color: rgb(134, 82, 255);
    font-weight: bold;
}

@media (max-width:550px){
    .register-form{
        width: 100%;
        padding: 0px 50px;
    }
}